src/MShop.Application/obj/
src/MShop.Business/obj/
src/MShop.ProductAPI/obj/
src/MShop.Repository/obj/
src/Mshop.Chache/obj/


tests/MShop.UnitTest/obj/
tests/MShop.IntegrationTest/obj/
tests/MShop.EndToEndTest/obj/
.vs/

src/MShop.Business/obj/Migrations/


src/MShop.Application/bin/
src/MShop.Business/bin/
src/MShop.ProductAPI/bin/
src/MShop.Repository/bin/
src/Mshop.Chache/bin/

tests/MShop.UnitTest/bin/
tests/MShop.IntegrationTest/bin/
tests/MShop.EndToEndTest/bin/


ElasticSearch/elasticsearch_data/
ElasticSearch/kibana_data/
