src/MShop.Application/obj/
src/MShop.Business/obj/
src/MShop.ProductAPI/obj/
src/MShop.Repository/obj/
src/MShop.Test/Mshop.Test/obj/
src/MShop.IntegrationTest/MShop.IntegrationTests/obj/
.vs/
src/MShop.Test/Mshop.Test/bin/
rc/MShop.IntegrationTest/MShop.IntegrationTests/bin/




src/MShop.Application/bin/
src/MShop.Business/bin/
src/MShop.ProductAPI/bin/
src/MShop.Repository/bin/